<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/lcgoliveira/rails-pets-marketplace" target="/blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This footer was made by ForgeHub Team <i class="fas fa-laptop-code"></i> at Le Wagon
  </div>
</div>
